<% provide :title, "Home" %>

<%= render 'layouts/application/main', page: 'Dashboard', organization: @organization.name do %>

  <div class="p-8">
    <h2 class="font-medium text-zinc-900">Last Updated</h2>
    <% if @recent_reports.empty? %>
      <p>No recent reports available.</p>
    <% else %>
      <ul role="list" class="mt-3 grid grid-cols-2 gap-5 md:grid-cols-3 sm:gap-6 xl:grid-cols-6">
        <%= render ReportCardComponent.with_collection(@recent_reports) %>
      </ul>
    <% end %>
  </div>


  <p>Verified: <%= Current.user.verified %></p>


  <% if Current.user.admin? %>

    <h2 class="font-medium text-lg">Admin section</h2>

    <div class="flex flex-col w-fit items-start">
      <%= link_to "Invite user", new_invitation_path %>
      <%= link_to "Manage users", users_path %>
      <%= link_to "Manage invites", invitations_path %>
    </div>

  <% end %>

  <h2 class="font-medium text-lg">Login and verification</h2>

  <div>
    <%= link_to "Change password", edit_password_path %>
  </div>

  <div>
    <%= link_to "Change email address", edit_identity_email_path %>
  </div>

  <h2 class="font-medium text-lg">Access history</h2>

  <div>
    <%= link_to "Devices & Sessions", sessions_path %>
  </div>

  <br>

  <%= button_to "Log out", Current.session, method: :delete %>

<% end %>